body {
  padding: 25px;
  background-color: rgb(221, 184, 190) !important;
}

.completed {
  text-decoration: line-through black;
}

.selected {
  background-color: gray;
}

.input {
  border-radius: 5px;
  height: 35px;
}